.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-options ul li{
    list-style-type: none;
    
}
.nav-options ul li a{
    margin: 20px;
    
}
.nav-options ul{
    display: flex;
    justify-content:space-around;

}